.container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

.tile {
  display: block;
  text-align: center;
  width: 150px;
  height: 150px;
  border: 2px solid lightgray;
}

.tile:hover,
.tile-text:hover {
  cursor: pointer;
}

.active-tile {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.active-text {
  font-weight: bolder;
}